.btn {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: rgb(0, 0, 99);
    margin: 20px;
    text-decoration: underline;

}
.btn:hover{
    padding: 11px;
    transition: 0.5s;
}
.div {
    text-align: center;
}
